include README.md
include requirements.txt
include .env.example
recursive-include src/podcastpile/templates *.html
recursive-include src/podcastpile *.py
global-exclude *.pyc
global-exclude __pycache__
global-exclude *.egg-info/*
